/************************* Fonts **************************/
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/*
* Raleway for titles
* text: poppins
* about me: inconsolata
*/

/************************* Colors **************************
--cerulean-frost: #6798beff;
--prussian-blue: #18314fff;
--y-in-mn-blue: #384e77ff;
--green-sheen: #8bbeb2ff;
--key-lime: #e6f9afff;
*/

html body {
  height: 100%;
  width: 100%;
  font: 'Poppins', 'Raleway';
  color: #222;
  text-align: justify;
}
html {
  scroll-behavior: smooth;
}
section {
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  scroll-margin-top: 2em;
}
.heading {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 3.5rem;
}
.heading-row {
  margin-top: 2em;
}
.blue-text {
  color: #18314fff;
}
.blue-background {
  background-color: #18314fff;
  color: white;
}
.btn-primary {
  background-color: #18314fff;
  border-color: #18314fff;
}

/************************* Navbar **************************/
#global-nav {
  background-color: #18314fff;
}
.navbar-nav li {
  padding-right: 20px;
}
.navbar-nav li {
  font-size: 1.1em !important;
}

/************************* Intro parallax **************************/
#welcomeSection {
  padding-left: 0;
  padding-right: 0;
}
.welcome {
  height: 100%;
}
.welcome .row {
  display: block;
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
.parallaxsection {
  background-image: url('img/bg_sandro.jpg');
  height: 100%;
}
.jumbotron{
  margin-bottom: 0; /* remove default margin */
  border-radius: 0;
  background-size: cover;
}
/* Text style for Parallax Welcome */
.parallax p {
  font-family: 'Raleway';
  font-size: 24px;
  font-style: italic;
  color:#f5f5f5;
  margin-top: 35vh;
  margin-bottom: -0.5rem;
  font-weight: bolder;
}
.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 60px;
  font-family: 'Raleway';
  line-height: 100px;
  position: relative;
}
.welcome h1:after, .welcome h1:before {
  /* https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle */
  content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  text-decoration:line-through;
  display: inline-block;
  margin: 0 15px;
  font-size: 25px;
  vertical-align: bottom;
}

/************************* About Me **************************/
#aboutmeSection {
  margin-left: 10%;
  margin-right: 10%;
}
.aboutmeLi {
  width: 90%;
  padding-bottom: 1em;
}
.aboutmeKey {
  width: 40%;
  display: inline-block;
}
.aboutmeValue {
  float: right;
}
.aboutme-img {
  width: 90%;
}
#aboutmeSection img {
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1em;
}
#aboutmeSection .social {
  width: 90%;
  text-align: center;
  padding-top: .5em;
}
#aboutmeSection .social a {
  font-size: 1.6em;
  padding: 0.5rem;
}
/************************* Projects **************************/
#projectsSection {
  padding-left: 1em;
  padding-right: 1em;
}
#projectsSection ul {
  list-style: none; /* Remove default bullets */
}
#projectsSection ul li::before {
  content: "\2022";
  color: #D7F57D;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.card.front .heading {
  background-color: rgba(255, 255, 255, .6);
  width: auto;
  border-radius: 3px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
}
.card.back {
  padding: 2em;
}
/* Flipping Cards */
.card-container {
  display: grid;
  perspective: 700px;
}
.flip-card, .card-container {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.flip-card div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.front {
  grid-area: frontAndBack;
}
.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
.card-container:hover .flip-card {
  transform: rotateY(180deg);
}

/************************* Work & experience section **************************/
#workSection {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5em;
  margin-left: 5%;
  margin-right: 5%;
}
.timeline-hr {
  width: 30%;
  height: 6px;
  margin: auto;
  border: 0;
  border-bottom: 6px solid;
  border-bottom-color: #18314fff;
  margin-bottom: 15px;
}
.timeline { /* the vertical line */
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}
.timeline::after {
  margin-top: -15px;
  margin-bottom: -20px;
  content: '';
  position: absolute;
  width: 6px;
  background-color: #18314fff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
/* horizontal flip cards for timeline */
.tl-flip-card, .container {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
.tl-flip-card div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border: 6px solid #18314fff;
  border-radius: 6px;
}
.tl-front {
  grid-area: frontAndBack;
  padding: 20px 30px;
  position: relative;
  color: white;
}
.tl-back {
  grid-area: frontAndBack;
  transform: rotateX(-180deg);
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  background-color: white;
  border-color: #18314fff;
}
.container:hover .tl-flip-card {
  transform: rotateX(180deg);
}
.container.left:hover::before {
  opacity: 0;
}
.container.right:hover::before {
  opacity: 0;
}
/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  display: grid;
  perspective: 700px;
}
/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #D7F57D;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}
/* Place the container to the left */
.left {
  left: -25%;
  position: relative;
}
/* Place the container to the right */
.right {
  left: 25%;
  position: relative;
}
/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #18314fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #18314fff;
  transition: opacity 0.7s ease-in;
}
/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #18314fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #18314fff transparent transparent;
  transition: opacity 0.7s ease-in;
}

/************************* Education section **************************/
#educationSection .row {
  margin-left: 5%;
  margin-right: 5%;
}
.img-container {
  position: relative;
  text-align: center;
  color: white;
}
.img-text-overlay {
  position: absolute;
  width: 80%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
}
.img-container img {
	opacity: 0.8;
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 5px;
}
.img-container:hover img {
	opacity: .5;
}
#educationSection .col-lg-6 h2{
  text-align: center;
}
#educationSection table {
  width:90%;
  position: sticky;
  left: 50%;
}

/************************* skillz section **************************/
#skillzSection {
  padding-right: 0;
  padding-left: 0;
}
.skillz-subtitle {
  width: 80%;
  left: 10%;
}
#skillzSection .col-md-6 {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 4%;
}
.skillz-score-content {
  width: 80%;
  margin-left: 10%;
}
.no-bullets {
  list-style-type: none;
  padding: 0;
}
.skillz-title {
  display: inline-block;
  width: 65%;
}
.skillz-score {
  float: right;
}
#skillzSection .no-bullets li {
  transition: all .2s ease-in-out;
}
#skillzSection .no-bullets svg {
  /* transition: width .2s ease-in-out; */
  transition: padding-right .2s ease-in-out;
}
#skillzSection .no-bullets li:hover {
  background-color: #E2E8F2;
  border-radius: 3px;
  transform: scale(1.05);
}
#skillzSection .no-bullets li:hover svg {
  transform: scale(1.3);
  margin-right: 3px;
}

/************************* connect section **************************/
#connectSection .social a {
  font-size: 4em;
  padding: 3rem;
}
.fa-envelope {
  color: #18314fff;
}
.fa-linkedin {
  color: #2867B2;
}
.fa-github {
  color: #000000;
}
.fa-youtube {
  color: #bb0000;
}
.fa-cube {
  color: #248bfb;
}

/************************* footer **************************/


/*--- Media Queries for responsive design ---*/
/*
  Breakpoints for responsive design

  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap

  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }

  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }

  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }

  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
*/
@media (max-width: 1200px) {
  #aboutmeSection .col-lg-4.col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
  #aboutmeSection .social a {
    padding: 0.2rem;
  }
  #educationSection .img-text-overlay {
    top: 20%;
  }
}
@media (max-width: 992px) {
  .aboutme-img img {
    width: 60%;
  }
  #aboutmeSection .social a {
    padding: 0.5rem;
  }
  .social a {
    font-size: 3.5em;
    padding: 2rem;
  }
  .parallax p {
    font-size: 22px;
  }
  .parallax h1 {
    font-size: 50px;
    line-height: 80px;
  }
  .welcome h1:after, .welcome h1:before {
    font-size: 20px;
  }
  .skillz-subtitle {
    width: 90%;
    left: 5%;
  }
  .skillz-score-content {
    width: 90%;
    margin-left: 5%;
  }
  #educationSection .img-text-overlay {
    top: 50%;
  }
}
@media (max-width: 768px) {
  .aboutme-img img {
    width: 40%;
  }
  #projectsSection .container-fluid {
    width: 80%;
  }
  #projectsSection .container-fluid {
    width: 90%;
  }
  .social a {
    font-size: 3em;
    padding: 1.5rem;
  }
  .parallax {
    background-position: 60% 50%;
  }
  .parallax p {
    font-size: 20px;
  }
  .parallax h1 {
    font-size: 38px;
    line-height: 60px;
  }
  .welcome h1:after, .welcome h1:before {
    font-size: 16px;
  }
  .timeline::after {
    left: 31px;
  }
  /* Timleline */
  .timeline-hr {
    margin-left: unset;
  }
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    max-width: inherit;
  }
  .left{
    left: auto;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    border: medium solid #18314fff;
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #18314fff transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 18px;
  }
  #educationSection .img-text-overlay {
    top: 30%;
  }
}
@media (max-width: 576px) {
  .social a {
    font-size: 2em;
    padding: 1rem;
  }
  .parallax {
    background-position: 60% 50%;
  }
  .parallax p {
    font-size: 18px;
  }
  .parallax h1 {
    font-size: 32px;
    line-height: 50px;
  }
  .welcome h1:after, .welcome h1:before {
    visibility: hidden;
  }
  #educationSection .img-text-overlay {
    top: 10%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
